.search-box {
  width: 50%;
  margin-top: 0.5rem;
}

mat-label{
  padding-left: 0.75rem;
  color:#dc4666;
  font-size: 1.3rem;
  margin-top: 2rem;
}
mat-icon{
  position: relative;
  right: 30px;
  top: 3px;
  cursor: pointer;
}

.movie-poster {
  width: 185px;
  height: 280px;
}

.outer_ring {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  background-color: #081c22;
}
mat-form-field .mat-form-field-wrapper .mat-form-field-outline{
  display: none;
}

.description {
  padding-right: 8px;
  margin-top: 25px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: #ffffff;
}

.movie-title {
  font-weight: 600;
  font-size: 0.7em;
}

.more-info{
  border-top: 1px solid #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;

}

mat-form-field .mat-form-field-infix input{
  background-color: #e3e3e3;
  height: 2.5rem;
  padding-left: 10px;
}


.container-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


mat-grid-list mat-grid-tile:nth-child(2) .mat-grid-tile-content{
  justify-content: flex-start;
}

mat-card{
  margin: 3rem 0;
  border: 1px solid #ccc;
  cursor: pointer;
}

mat-card:hover{
  background-color:#dc4666;
}

.star{
  position: relative;
  left: 5px;
  top: 4px;
}
