<div class="container">
<section class="content" role="main">
  <div class="container-search">
  <mat-label>Search a movie!</mat-label>
  <mat-form-field appearance="outline" class="search-box" floatLabel="always">
    <input matInput class="form-control" [ngModel]="searchQuery"
           (ngModelChange)="searchQuery = $event ; searchMovie($event)" placeholder=" Enter movie name...">
    <mat-icon matSuffix>youtube_searched_for</mat-icon>
  </mat-form-field>
  </div>
<last-result-tile [Results]="Movies.results"
                  [noResultForTile]="noResult"></last-result-tile>
</section>
</div>
