.spacer {
  flex: 1;
}

.home-icon{
  margin-right: 1rem;
  color: white;
  &:hover {
    color: black;
  }
}

.toolbar {

  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;

  height: 65px;
  background-color: #212121;
  padding: 0 47px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

a {
  color: white;
}

span{
font-size: 24px;
}
.search-movie, .home{
  margin-left: 1rem;
  font-size: 17px;
  font-weight: 400;
}
