/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700|Roboto:300,400,700);
@import '../../lastname/src/variable';

body,html{
  font-family: Nunito,sans-serif;
  font-size: 1rem;
}

div{
  //background-color: red;
}

h5{
  color: #dc4666;

}
p{
  color: #dc4666;
}

button.active {
  background-color: #dc4666;
}
