/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700|Roboto:300,400,700);
@import '../../lastname/src/variable';


body,html{
  font-family: Nunito,sans-serif;
  font-size: 1rem;
  background-color:black;
}

div{
  //background-color: red;
}

h5{
  color: wheat;
  font-weight: 900;

}
p{
  color: wheat;
}

button.active {
  background-color: wheat;
}
input{
  background-color: #e3e3e3;

}

i{
  color: #ffffff;
}

img{
  padding: 10px;
}

small{
  color: #ffffff;
  font-size: 0.75rem;
}

sup{
  font-size: 0.75rem;
  top: 0;
}

h2,h1{
  color: #ffffff;
  margin-top:2rem;
}

.container{
  padding: 85px;
}
